
.caixa {
    .cabecalho {
        h1 {
            font-size: 32px;
            margin-left: 12px;
            color: var(--cor-1);
            text-transform: uppercase;
        }
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        .cards {
            display: flex;
            justify-content: center;
            width: 50%;             
        }
    
        .conteudo {
            display: flex;
            justify-content: space-between;
            width: 50%;
            margin-top:158px; 
            &__cadastro {
                width: 32%;
            }

            &__listaRegistros {
                width: 35%;
                text-align: center;
            }
        }
    }

}