.filtros {
    &__botao{
        padding: 4px 36px;
        background-color: #D9D9D9;
        color: var(--cor-1);
        font-weight: bold;
        margin-right: 12px;
        cursor: pointer;
    }
}
